!/gitignore
!/src/*
!/pom.xml
/*.iml
.settings
.classpath
.target
.externalToolBuilders
.metadata
.project
*/target/*
.svn/*
.idea/*
/target/
/bin/
.DS_Store
*.log*
/log
/logs
*.iml
/.mvn
*.jar
generatorConfig.xml